In [12]:
a=10
b=20
c=a*b
d=a/b
print(c)
print(d)

200
0.5

In [13]:
# identifiers 
# keywords  
# operators
    #1 arthmetic :-  +,-,*,**(power),/,//,%
   # 2 relational: ==,!=,<,>,<=,>=
    #3 assignment : =,+=, ,-=,.....
    #4 logical : and ,or, not
    #5 membership: in,not in
    # 6 bitwise : &,|,~,<<,>>,^
     #7 identity: is,is not 
# data types /data classes 
      # numeric:- int,float, complex
      #** mutable(variable) and immutable(contant)**
      # sequence:- str:-- immutable and  collection of character....
      # [] list :-- mutable &unstructure coll of het element 
      # ()   tuple;--  immutable &unstructure coll of hetrogenous element 

      # mapping : 
     # {} dist; mutable & unstructure collection of key value pairs 
     # set :
      # {} set: unordered collection of unique items 
    # boolean :
       # bool: true and false     
    # Entry Data: 
       # nonetype: None 
# Data operators (collections )
   # 1. Item Accessing (indexing /slicing/ subscripting ) 
   # 2. Item Insertion 
   # 3. Item assignemt(possible with mutable only )
   # 4. Item deletion(possible with mutable only)

#Data type Build-in Functions 
  # str: upper ,lower ,find,split, join,formate ,count
  # list : append ,sort ,count ,copy,insert,remove,index,pop
  # tuple: count ,index
  # dict : keys,values,update,get,pop
  # set: add, differnece, union, pop, remove

In [14]:
a=[4,6,8,'hi',3.4]
s='468hi3.4'
b=(4,6,8,'hi',3.4)
c={4:6,8:['hi',3.4]}
d={4,6,8,'hi',3.4}

In [15]:
type(a), type(s), type(b), type(c), type(d)

(list, str, tuple, dict, set)

In [16]:
len(s),len(a),len(b),len(c),len(d)

(8, 5, 5, 2, 5)

In [17]:
t=(4,6,'hi','go' , 3.5,3+5j,[3,8])
type(t)

tuple

In [18]:
'hi'+'pooja'

'hipooja'

In [19]:
[4,5]+[3,6]

[4, 5, 3, 6]

In [20]:
'ho'*5

'hohohohoho'

In [21]:
s+='k'
s

'468hi3.4k'

In [22]:
s = s[:3] + 'jobhiaapchahein'+ s[3:]
s

'468jobhiaapchaheinhi3.4k'

In [23]:
a+=['byye']
a

[4, 6, 8, 'hi', 3.4, 'byye']

In [24]:
a= a[:2]+[39]+a[2:]
a

[4, 6, 39, 8, 'hi', 3.4, 'byye']

In [25]:
m=('bye')
type(m)

str

In [26]:
b+=('bye',)
b

(4, 6, 8, 'hi', 3.4, 'bye')

In [27]:
(*b,*b)#when * is there in the python it will make it tuple

(4, 6, 8, 'hi', 3.4, 'bye', 4, 6, 8, 'hi', 3.4, 'bye')

In [28]:
(*a,*b,*s)  #args and kwargs : special :operator used to conevrt any type of data into tuple

(4,
 6,
 39,
 8,
 'hi',
 3.4,
 'byye',
 4,
 6,
 8,
 'hi',
 3.4,
 'bye',
 '4',
 '6',
 '8',
 'j',
 'o',
 'b',
 'h',
 'i',
 'a',
 'a',
 'p',
 'c',
 'h',
 'a',
 'h',
 'e',
 'i',
 'n',
 'h',
 'i',
 '3',
 '.',
 '4',
 'k')

In [29]:
c[99]= [86,'hii']
c

{4: 6, 8: ['hi', 3.4], 99: [86, 'hii']}

In [30]:
c2 ={'a' :45, 'b':35}
print(c)
print(c2)

{4: 6, 8: ['hi', 3.4], 99: [86, 'hii']}
{'a': 45, 'b': 35}

In [31]:
{ **c,**c2}   # **kwags and *args

{4: 6, 8: ['hi', 3.4], 99: [86, 'hii'], 'a': 45, 'b': 35}

In [32]:
s

'468jobhiaapchaheinhi3.4k'

In [33]:
## item assignment
# s[0]='A' #not poosible
# a[0]='A' #done
# b[0]='A' # not poosible 
# c[4] =66  # done 

## Item deletion 
# del s[0]  #not poosible
# del a[0]  #done
# del b[0]  # not poosible 
# del c[4]    # done

In [34]:
bool('false') # true 
bool('') # false

False

In [35]:
print (bool(''),
        
        bool({}),
       bool(()),
       bool(-1),
      
       bool([{}]))

False False False True True

In [36]:
d = 'hii'
d.upper()

'HII'

In [37]:
len(t)

7

In [38]:
t

(4, 6, 'hi', 'go', 3.5, (3+5j), [3, 8])

In [39]:
k= 3+4j
type(k)

complex

In [40]:
a=10
b=20
c=30
print(id(a),id(b) ,id(c))

2401349141008 2401349141328 2401349141648

In [41]:
bin(6)

'0b110'

In [42]:
'8' in 'late night 8te'

True

In [43]:
2**3

8

In [44]:
4//2

2

In [45]:

4/2.1

1.9047619047619047

In [46]:
4//2.1

1.0

In [47]:
from keyword import kwlist
kwlist

['False',
 'None',
 'True',
 'and',
 'as',
 'assert',
 'async',
 'await',
 'break',
 'class',
 'continue',
 'def',
 'del',
 'elif',
 'else',
 'except',
 'finally',
 'for',
 'from',
 'global',
 'if',
 'import',
 'in',
 'is',
 'lambda',
 'nonlocal',
 'not',
 'or',
 'pass',
 'raise',
 'return',
 'try',
 'while',
 'with',
 'yield']

In [48]:
p=print('hi')

hi

In [49]:
s=' A sample python satement '
s

' A sample python satement '

In [50]:
len(s)

26

In [51]:
s[6]

'p'

In [52]:
s[len(s)-1]

' '

In [53]:
s[-3]

'n'

In [54]:
#slicing s[start: stop(not included):stepsize]
########  s[0:end:+1]
########  s[    end  :0:-ve]
s[2:9:1]

' sample'

In [55]:
s[-26:]

' A sample python satement '

In [56]:
s[-10:-17:-1]

' nohtyp'

In [57]:
s[:-10:-1]

' tnemetas'

In [58]:
s[::-1]

' tnemetas nohtyp elpmas A '

In [59]:
t=list(t)
t

[4, 6, 'hi', 'go', 3.5, (3+5j), [3, 8]]

In [60]:
d1 =[{ 'a':34},66,{'66':[{'00':[98,'hi']},'awesome',{'m':'n'}]}]

In [61]:
len(d1)

3

In [62]:
d='hello'#string functions
d.find('el')

1

In [63]:
d.split('e')

['h', 'llo']

In [64]:
d.strip('oh')# it will remove the charachter

'ell'

In [65]:
'STAR'.join('wars')

'wSTARaSTARrSTARs'

In [66]:
'-'.join('wars')

'w-a-r-s'

In [67]:
'#'.join('hi this is pooja '.split ())

'hi#this#is#pooja'

In [68]:
'hi this is pooja '.replace('','#')

'#h#i# #t#h#i#s# #i#s# #p#o#o#j#a# #'

In [69]:
d.count('l')

2

In [70]:
x=20
y=30
#z='ek esa no jo 20 to 30 hai'
# formate specifier
z='ek esa no jo %d to %d hai'%(x,y)
z='ek esa no jo %d to %d hai lekin %d he kaffi h'%(x,y,x)
z

'ek esa no jo 20 to 30 hai lekin 20 he kaffi h'

In [71]:
# using formate function
z='ek esa no jo {} to {}hai'
z=z.format(x,y)
z
# z='z='ek esa no jo {}to {} hai',formate{x,y}
#'ek esa no jo 20 to 30 hai lekin 20 he kaffi h
z1='ek esa no jo {}to {}hai lekin {} he kaffi h'
z1= z1.format(x,y,x)
z1
# usinf f-string
f'anything'
zf=f'ek esa no jo {x}to {y} hai lekin {x} he kaffi h'
zf

'ek esa no jo 20to 30 hai lekin 20 he kaffi h'

In [72]:
e=[2,3,4]#list
e.append(45)
e

[2, 3, 4, 45]

In [73]:
e.count(4)

1

In [74]:
e.insert(2,100)
e

[2, 3, 100, 4, 45]

In [75]:
e.sort( reverse=True)
e

[100, 45, 4, 3, 2]

In [76]:
e1=['ho','hi','hello']
len(e1[0])

2

In [77]:
e1.sort(key=len)
e1

['ho', 'hi', 'hello']

In [78]:
t=(2,3,4)#tuple
t

(2, 3, 4)

In [79]:
t1=list(t)

In [80]:
g={'3':[4,5]}#dict
g.keys()
g

{'3': [4, 5]}

In [81]:
g['a'] = 44
g

{'3': [4, 5], 'a': 44}

In [82]:
list(g.keys())[0]

'3'

In [83]:
g.get('z',' oh no not prsent')

' oh no not prsent'

In [84]:
e3=e
e3

[100, 45, 4, 3, 2]

In [85]:
e3.append(60)
e3

[100, 45, 4, 3, 2, 60]

In [86]:
e # isme bhi change ho jyga

[100, 45, 4, 3, 2, 60]

In [87]:
e4= e.copy()
e4.append(50)
e4

[100, 45, 4, 3, 2, 60, 50]

In [88]:
e

[100, 45, 4, 3, 2, 60]

In [89]:
# deep copy vs shallow copy

In [90]:
# set
p=[1,2,3,4,5,6,6,6,2,1,1]
p1 =set(p)
p1

{1, 2, 3, 4, 5, 6}

In [91]:
p1.add(76)
p1

{1, 2, 3, 4, 5, 6, 76}

In [92]:
# actual programming 

# logics
#1 conditons 
#2 loops 
#3 errors 
#4 functions 
#5 classes
#6 library

In [93]:
a=10
if(a>5):
    print('or ye to bada hai')
    if(a<100):
        print('ye bhi theek hai')
    print('ye ho gya')
elif(a< -20):
    print('ye bhoot chota hai')
elif('a==3'):
    print('ye 3 hai')
else:
    print('or ye choota hai')
print('bss ho gya bhai khtm')

or ye to bada hai
ye bhi theek hai
ye ho gya
bss ho gya bhai khtm

In [94]:
#conditonal satatement 
     # 1. if-elif-else
# looping
     # while-else
     # for-else
     # continue/break 
# error Handling
#       try-except-else-family

# user defined functions
#      def

# classes
#      class

In [95]:
a=20
while a>0:
    print(' hello',a)
    a-=3
    if(a==11):
        break
    print('one more ')
else:
    print('accha ab pata chla ')

 hello 20
one more
 hello 17
one more
 hello 14

In [96]:
#for -each 
for i in 'hello':
     print('i')

i
i
i
i
i

In [97]:
for i in range (1,11):
    print(i * '*')

*
**
***
****
*****
******
*******
********
*********
**********

In [98]:
# do-while
# while

# for(int i=0;i<11;i++){
#     kahani
#     }


# for each (int i in somearray)
# {
#     do something
# }


# for-each
# for obj in collection :
#     pass

In [99]:
list (range (1,11,1))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [100]:
a=[4,'hi','nice',35]# it will take more time in executing
b=[]
for i in range(len(a)):
    b.append(a[i]*2)
b

[8, 'hihi', 'nicenice', 70]

In [101]:
a=[4,'hi','nice',35]
b=[]
for val in a:
    b.append(val*2)
b

[8, 'hihi', 'nicenice', 70]

In [102]:
a*2

[4, 'hi', 'nice', 35, 4, 'hi', 'nice', 35]

In [103]:
#comprehension
## for loops statemnts which are of one line 
# list comp
        #[output for-loop]-map 
        #[output for-loop if condition ]-filter 
# dictinory comp
        #{key_op:value_op for-loop}
# set comp
        # {output for loop }
# generator comp
        # {output for loop }
b=[ val*2 for val in a]
b

[8, 'hihi', 'nicenice', 70]

In [104]:
b=[ val*50 for val in a]
b

[200,
 'hihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihi',
 'nicenicenicenicenicenicenicenicenicenicenicenicenicenicenicenicenicenicenicenicenicenicenicenicenicenicenicenicenicenicenicenicenicenicenicenicenicenicenicenicenicenicenicenicenicenicenicenicenicenice',
 1750]

In [105]:
k=[1,2,3,4,5,6,6,7,8,11,22,33,44]

In [106]:
p=[val for val in k if val%2==0]
p

[2, 4, 6, 6, 8, 22, 44]

In [107]:
p=[val for val in k if val%2!=0 and val>10]
p

[11, 33]

In [108]:
p=[]
for val in k:
    if val%2==0:
        p.append(val//2)
    else:
        p.append(val*2)
p

[2, 1, 6, 2, 10, 3, 3, 14, 4, 22, 11, 66, 22]

In [109]:
p=[val*2 if val%2==1 else val//2 for val in k]
p

[2, 1, 6, 2, 10, 3, 3, 14, 4, 22, 11, 66, 22]

In [110]:
# Task: multiply by 2  if odd otherwise check if it 
# is less than 20 thn do//2 otherwise do  not do anyting
p=[val*2 if val%2==1 else (val//2 if val<20 else val)  for val in k]
p

[2, 1, 6, 2, 10, 3, 3, 14, 4, 22, 22, 66, 44]

In [111]:
m={val:val**2 for val in k if val%2 ==0}

In [112]:
for i in m:
    print(i)

2
4
6
8
22
44

In [113]:
for  i,j in m.items():
    print(j,i)

4 2
16 4
36 6
64 8
484 22
1936 44

In [114]:
m.items()

dict_items([(2, 4), (4, 16), (6, 36), (8, 64), (22, 484), (44, 1936)])

In [115]:
# user define functions

In [116]:
def function_ka_name():
    ''' ye kuch krta nhi h bss function ke call krne pe he print krega '''
    print('ye kuch kr dega ')

In [117]:
function_ka_name()

ye kuch kr dega

In [118]:
def ekor(ekvalue,dusrivalue):
    print ('kuch bhi ')
    return ekvalue * dusrivalue

In [119]:
ekor(4,5)

kuch bhi

20

In [120]:
def merimarzi(ekvalue, dusrivalue):
    print('kuch bhi')
    return(ekvalue * dusrivalue ) + ekvalue

In [121]:
merimarzi(dusrivalue=20, ekvalue=12)

kuch bhi

252

In [122]:
merimarzi(3,2)

kuch bhi

9

In [123]:
def kuchor(x=10,*v,**u):
    return[i*x for i in v],u

In [124]:
kuchor(3,4,5)

([12, 15], {})

In [125]:
kuchor(3,6,8, somedata=[1,2,3,4])

([18, 24], {'somedata': [1, 2, 3, 4]})

In [126]:
 for i in (1,10):
    
        print('even')

even
even

In [127]:
def pypart(n):
     if n==0:
        return
     else:
        pypart(n-1)
        print('*' * n)
n=5 
pypart(n)

*
**
***
****
*****

In [128]:
!python -m pip install numpy

Requirement already satisfied: numpy in c:\users\pooja\appdata\local\packages\pythonsoftwarefoundation.python.3.10_qbz5n2kfra8p0\localcache\local-packages\python310\site-packages (1.24.2)

In [129]:
import numpy

In [130]:
import my_file

ValueError: invalid literal for int() with base 10: ''

In [ ]:
import keyword as kw
kw.kwlist

In [ ]:
import numpy as np

In [ ]:
a=np.array([])
a

array([], dtype=float64)

In [ ]:
b=np.array([3,45,6,7])
b

array([ 3, 45,  6,  7])

In [ ]:
len(b),len(a)

(4, 0)

In [ ]:
a.dtype

dtype('float64')

In [ ]:
b.dtype

dtype('int32')

In [ ]:
b.shape

(4,)

In [ ]:
b.size

4

In [ ]:
a.ndim

1

In [ ]:
b.ndim

1

In [ ]:
type(a)

numpy.ndarray

In [ ]:
c=np.array([[1,2,3],[4,5,6],[7,8,9],[0,1,2]])
c

array([[1, 2, 3],
       [4, 5, 6],
       [7, 8, 9],
       [0, 1, 2]])

In [ ]:
c.shape

(4, 3)

In [ ]:
c=np.array([[[1,10],[2,20],[3,30]],[[4,40],[5,50],[6,60]],[[7,70],[8,80],[9,90]],[[0,00],[1,10],[2,20]]])
c

array([[[ 1, 10],
        [ 2, 20],
        [ 3, 30]],

       [[ 4, 40],
        [ 5, 50],
        [ 6, 60]],

       [[ 7, 70],
        [ 8, 80],
        [ 9, 90]],

       [[ 0,  0],
        [ 1, 10],
        [ 2, 20]]])